body {
  background: #fff;
  font: 16px sans-serif;
  font-weight: 100;
  margin: 0;
}

h1 {
  font-size: 16px;
  font-weight: normal;
  line-height: 40px;
  margin: 0 10px;
}

header {
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  height: 40px;
  left: 0;
  position: absolute;
  right: 0;
  text-shadow: 0 0 2px #000;
  top: 0;
}

section {
  background: rgba(0, 0, 0, 0.85);
  bottom: 0;
  color: #fff;
  height: 160px;
  left: 0;
  padding: 10px;
  position: absolute;
  right: 0;
  transition: height 0.2s ease;
}

section.off {
  height: 60px;
}

footer {
  font-size: 12px;
  line-height: 20px;
  height: 20px;
  text-align: right;
}

.stage {
  bottom: 80px;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
}

.stage > .inner {
  position: relative;
  height: 100%;
}

.stage > .inner > .full {
  height: 100%;
  position: absolute;
  width: 100%;
}

.gallery {
  height: 140px;
  padding: 0;
  margin: 0;
  overflow: auto;
  transition: height 0.2s ease;
}

.gallery.off {
  height: 40px;
}

.gallery > li {
  display: block;
  float: left;
  height: 96px;
  list-style: none;
  margin: 0 4px 4px 0;
  overflow: hidden;
  width: 120px;
}

a.place {
  color: #eee;
  display: block;
  height: 100px;
  overflow: hidden;
  position: relative;
  width: 120px;
}

a.place:hover {
  color: #fff;
}

a.place > img {
  width: 120px;
  height: 100px;
}

a.place > span {
  background: rgba(0, 0, 0, 0.6);
  bottom: 0;
  display: block;
  font-size: 12px;
  left: 0;
  padding: 4px 0;
  position: absolute;
  right: 0;
  text-align: center;
}

.status {
  display: none;
  position: absolute;
  height: 120px;
  width: 180px;
  background: rgba(0, 0, 0, 0.4);
}

.leaflet-popup-content-wrapper {
  border-radius: 4px;
}